$ice: #99D3DF;
$freshwater: #88BBD6;
$plaster: #CDCDCD;
$linen: #E9E9E9;

$original_button: #3498db;
$original_button_text: white;
$original_link_color: #408294;
$original_background: #D4D4D4;
$original_storefront_color: silver;

$text_color: $linen;
$link_color: $original_link_color;
$border_color: $ice;
$navbar_color: $plaster;
$loader_color: $linen;
$button_color: $original_button;
$button_text_color: $original_button_text;
$background_color: $linen;
$storefront_background: $linen;
