// html, body {
//   height: 100%;
//   overflow: hidden;
//   margin-top:50px;
// }
body {
  background: $background_color;
  min-width: 700px;
  width: auto
}

// html {
//     height: 100%;
//     margin-bottom: 0.01em;
// }



table{
  padding:20px;
  margin: 0 auto;
  text-align: right;

}
th, td{
  padding: 2px;
  font-size: 14px;
}

th{
  font-size:20px;
}


#mainContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

a {
  text-decoration: none;
  color:$link_color;
}

button {
  background-color: $button_color;
  border: none;
  color: $button_text_color;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

.bigButton {
  font-size: 20px;
  padding: 20px;
}
a:hover{
  text-decoration: underline;
  cursor: pointer;
}

#root {
  padding: 5px px;
  margin: 0 auto;
  text-decoration: none;
  // display: flex;
}


h1 {
  font-size: 40px;
}

.error {
  color:red;
}



h2 {
  font-size: 20px;
  font-weight: 700;

}



input {
  // display: block;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  width: 300px;
  height: 20px;
}

textarea{
  width: 300px;
  height: 150px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  font-size: 14px;
  margin: 0px 1px;
  transition: box-shadow 0.3s, border 0.3s;

}

textarea:focus{
  outline: none;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

input:focus {
  outline: none;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

//voidCanvas radio css for animated css radio buttons
