.Albums {
  display:flex;
  justify-content: space-between;
  // width: 376px;
  margin: 30px;

  .TrackListItem{
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 5px 0px;
    width: 370px;
    // float: left;

  }

  .trackNumber{
    width: 20px;
    text-align:right;
  }

  .TrackListItem-box{
    display: flex;
    justify-content:flex-start;

    li{
      padding-right: 5px;
    }

    .trackListLink{
      padding-right: 10px;
    }

  }

  .trackHoverLink{
    display: none;
    padding-top: 5px;
  }

  .trackHoverLink:hover{
    display:flex;
  }

  .edit-button{
    padding-top: 5px;
    padding-left: -10px;
    list-style: none;
  }

  .TrackListItem:hover ~ .trackHoverLink{
    display:flex;
  }
  // .TrackListItem-box ~ .trackHoverLink{
  //   display:flex;
  // }
}
