// header{
//   margin: 0 auto;
//   position: fixed;
//     top: 0;
//     left: 0;
//     // display:inline;
//     width: 100%;}

.navbar-link{
  color:$link_color;
  cursor:pointer;
}
.navbar-link:hover{
  background: rgba(0,0,0,0.08);
}

.navbar-session{
  display:flex;
  justify-content: flex-end;
}

.navbar {
  min-width:300px;
  display: block;
  height: 43px;
  background-color: $navbar_color;
  margin: 0 auto;
  text-decoration: none;
  border-top: 5px solid gray;
  border-bottom: 1px dotted gray;

  .search{
    width:900px;
    margin-left: 205px;
    height:15px;
    margin-top: 3px;
  }


  ul {
      position: relative;
      display: flex;
      justify-content:space-between;

    img {
        padding-top: 12px;
        line-height: 50px;
        width: 35px;
        align-self: left;
      }
    li {
      padding: 0px 10px;
      height: 43px;
      line-height: 43px;
      text-align: center;
    }


      a li {
        padding: 0px 10px;
        height: 43px;
        line-height: 43px;
        text-align: center;
        cursor:pointer;

      }
    }
}
