.navbar-link{
  color:#408294;
}
.navbar-link:hover{
  background: rgba(0,0,0,0.08);
}

.navbar {
  display: block;
  height: 43px;
  background-color: lightgray;
  margin: 0 auto;
  text-decoration: none;
  border-top: 5px solid gray;
  border-bottom: 1px dotted gray;


    ul {
      display: flex;
      justify-content:flex-end;

    li {
      padding: 0px 10px;
      height: 43px;
      line-height: 43px;
      text-align: center;
    }


      a li {
        padding: 0px 10px;
        height: 43px;
        line-height: 43px;
        text-align: center;
      }
    }
}
