.top{
  padding-top:200px;
  padding-bottom:100px;
  width:100%;
  background: black;
  // background-image: url("http://res.cloudinary.com/dprtxlyhi/image/upload/v1478860825/colorful-circles-retro-abstract-header-7513_qv66iz.jpg");
  background-size: cover;
  color:white;
  text-align: center;
}
