.session-parts button {
    background-color: $button_color;
    border: none;
    color: $button_text_color;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.session-header {
  float: left;
}

.guest-login {
  color: white;
}
.session {
  padding-top: 25px;
  display: flex;
  justify-content:flex-start;
}

.session-parts {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: column;
}

.session h1 {
  font-size:30px;
  margin: 0 auto;
}
