.albumName:hover{
  cursor:pointer;
}

.trackName {
  list-style:decimal;
}

h1{
  font-weight: 700px;
  font-size: 3em;
  padding-bottom: 5px;
}
h2 {
  font-weight: 200px;
  font-size: 2em;
  padding-bottom: 20px;
}

h5{
  text-align: center;
}
.StoreFront{
  background:$storefront_background;
  min-height:1000px;
  display: flex;
  justify-content: space-between;
  width:1000px;
  margin: 0 auto;
  border-left: 1px dotted black;
  border-right: 1px dotted black;

  box-shadow: 30px;
}


.Show {
  display:flex;
  justify-content: space-between;
}

.ShowArt {
  width:350px;
  height:350px;

}

.Image{
  width: 350px;
  padding-left: 25px;
  margin: 0 auto;
  h3 {
    font-size: 5px;
  }
}

.StoreFront-message{
  margin: 0 auto;
  text-align: center;
  width: 700px
}
