

.albums{
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  width:50%;
  border-left: 1px dotted black;
  border-right: 1px dotted black;

  ul{
    overflow: auto;
    // overflow-y:scroll;
    white-space: nowrap;
    width: 100%;
    height: 400px;
    display:flex;
    justify-content: space-between;
  }
}

.outer{
  height:100%;
}
.frontpage-album {
  float:left;
    // position:relative;
  display: flex;
  justify-content: center;
  flex-direction:column;
  padding : 10px;

  img{
    border: 1px solid $border_color;
    opacity: 0.5;
    width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
  }
  img:hover{
    opacity: 1;
  }


}
.splash-box{
  margin: 0 auto;
  padding: 50px 100px;
  width:500px;
  text-align: center;
  h1{
    margin-bottom: 9px;
  }
  p{
    padding-bottom:30px;
  }
  li{
    padding: 4px;
    // list-style: disc;
  }

  ol{
    margin-top: -10px;
  }

  ul{
    list-style:inside;
  }

}
.frontpage-album:hover .play{display:block}
.play{
  position : absolute;
   display:none;
   top:20%;
   width:40px;
   margin:0 auto; left:0px;
   right:0px;
   z-index:100
}
