// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
  color: blue;
}

a:hover{
  text-decoration: underline;
}
.navbar-link{
  color:#408294;
}
.navbar-link:hover{
  background: rgba(0,0,0,0.08);
}

.navbar {
  display: block;
  height: 43px;
  background-color: lightgray;
  margin: 0 auto;
  text-decoration: none;
  border-top: 5px solid gray;
  border-bottom: 1px dotted gray;


    ul {
      display: flex;
      justify-content:flex-end;

    li {
      padding: 0px 10px;
      height: 43px;
      line-height: 43px;
      text-align: center;
    }


      a li {
        padding: 0px 10px;
        height: 43px;
        line-height: 43px;
        text-align: center;
      }
    }
}

#root {
  // padding: 8px 5px 9px;
  margin: 0 auto;
  text-decoration: none;
  // display: flex;
}


.session {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.session-parts {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
}

.session h1 {
  font-size:30px;
  margin: 0 auto;
}

.error {
  color:red;
}

.session-parts button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.session-header {
  float: left;
}

h2 {
  font-size: 20px;
  font-weight: 700;

}

body {
  background-color: #ecf0f1;
}

input {
  width: 300px;
  height: 25px;
}
