// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
}

.navbar {
  display: block;
  padding: 8px 5px;
  background-color: lightgray;
  margin: 0 auto;
  text-decoration: none;
  border-top: 5px solid gray;
  border-bottom: 1px dotted gray;
    ul {
      display: flex;
      justify-content:flex-end;

      li {
        padding: 5px 10px;
      }
    }
}

#root {
  // padding: 8px 5px 9px;
  margin: 0 auto;
  text-decoration: none;
  // display: flex;
}


.session {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.session-parts {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
}

.session h1 {
  font-size:30px;
  margin: 0 auto;
}

.error {
  color:red;
}
.session form button {
  margin: 0 auto;
}

.session-header {
  float: left;
}

h2 {
  font-size: 20px;
  font-weight: 700;

}

body {
  background-color: #ecf0f1;
}

input {
  width: 300px;
  height: 25px;
}
