<!DOCTYPE html>
<html>
<head>
  <title>Major9</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" type="text/css" rel="stylesheet">
  <%= stylesheet_link_tag    'application',
  "https://fonts.googleapis.com/css?family=Roboto:400,500,700",
   media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
